@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

:root {
    --color1: #2C3639;
    --color2: #3F4E4F;
    --color3: #A27B5C;
    --color4: #DCD7C9;
    --white: rgb(210,210,215);
    --highlight: #97BAC4;
}

* {
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.highlight {
  color: var(--highlight) !important;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color1);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    max-width: 20%;
    border-right: 5px solid var(--color2);
}

aside #profilePicture {
    margin-top: 30px;
    border-radius: 100%;
    max-width: 50%;
}

#profileTitle, #profileSubtitle, #profileDescription, .contactInfo {
    color: white;
}

#profileTitle {
    margin-top: 20px;
}

#profileSubtitle {
    margin-top: -5px;
}

#profileDescription, .contactInfo {
    margin-top: 20px;
    width: 80%;
    text-align: center;
}

.contactInfo{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.contactInfo a {
  text-decoration: none;
  color: white;
}

.contactInfo a:hover{
  color: var(--highlight) !important;
}

main {
    background-color: whitesmoke;
    overflow-y: auto;
    margin-left: 20%;
}

swiper-slide {
  display: grid;
  grid: auto / auto auto auto auto;
  gap: 10px;
  align-items: center;
  height: 130px;
  justify-items: center;
}

swiper-slide img {
  width: 70%;
  height: inherit;
  filter: grayscale(1);
  cursor: pointer;
}

swiper-slide img:hover {
  filter: none !important;
  transition: 0.3s ease-in-out;
}

#mediaLinks {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px 0px;
    border-bottom: 2px solid var(--color2);
}

#mediaLinks i {
    font-size: 2rem;
    color: white;
}

#mediaLinks a:hover i {
  color: var(--highlight) !important;
}

.aboutDiv, .companiesDiv {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    color: var(--color2)
}

.aboutDiv h2 {
    text-align: left;
}

.aboutDiv p {
    text-align: justify;
    color: var(--color1)
}

.aboutDiv b {
  color: var(--color1)
}

.aboutDiv label {
  color: var(--color1)
}

.companiesDiv {
  margin-top: 10px;
}

.projectDiv {
    margin-top: 50px;
    height: 30%;
    color: white;
}

.project1 {
    background: url(./project-pictures/blog_gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.project2 {
    background: url(./project-pictures/cadastro.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.project2 h2 {
    text-align: right;
}

.project3 {
    background: url(./project-pictures/gelo_gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.projectDescription {
    padding: 40px;
    background-color: var(--color2);
    opacity: 0.2;
    height: 100%;
    text-align: justify;
}

.projectDiv:hover 
.projectDescription {
    opacity: 1;
    transition: 0.2s;
}

footer {
    text-align: center;
    color: var(--color1);
    opacity: 0.3;
    margin-top: 100px;
    margin-bottom: 30px;
}

/* MODELOS ANIMAÇÃO */

.reveal {
    position: relative;
    opacity: 0;
  }
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }

  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

/* SKILLS */

#skillsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 20px;
}

.skillDiv h4 {
  padding-left: 10px;
  color: var(--color1);
  font-weight: 500;
  border-left: 8px solid var(--color2);
}

.skillDivIcons {
  display: flex;
  gap: 5px;
  font-size: 45px;
}