@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

:root {
  --black: #161616;
  --color-letter:rgb(31, 1, 53);
  --color1: #420670;
  --color2: #8E0CF0;
  --color3: #950DFC;
  --white: #FFFFFF;
  --blue: #0500F8;
  --gradient-angle: 0deg;
  --border: 3px;
  --from: 220deg;
  --distance: 46%;
  --highlight: #C273FF;
  --margin-total: 50px;
  --margin-half: 25px;
  --margin-quarter: 12.5px;
}

@keyframes rotation {
  0% { --gradient-angle: 0deg}
  100% { --gradient-angle: 360deg}
}

* {
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aside-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  background-color: var(--black);
  text-align: center;
  color: var(--white);
  gap: 20px;
}

#aside-content::before,
#aside-content::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 102%;
  background: linear-gradient(var(--gradient-angle), var(--color3), var(--blue));
  animation: rotation 2s linear infinite;
  z-index: -1;
}

#aside-content::after {
  filter: blur(1.5rem);
}

.highlight {
  color: var(--highlight) !important;
}

#dev-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.contactInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.contactInfo a {
  text-decoration: none;
  color: var(--white);
}

.contactInfo a:hover {
  color: var(--highlight) !important;
}

main {
  background-color: whitesmoke;
  overflow-y: hidden;
  margin-left: 20.4%;
}

#mediaLinks {
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding: 20px 0px;
  border-bottom: 2px solid var(--color2);
}

#mediaLinks ion-icon {
  font-size: 2rem;
  color: var(--white);
}

#mediaLinks a:hover ion-icon {
  color: var(--highlight) !important;
}

.companiesDiv {
  width: 90%;
  margin: auto;
  margin-top: var(--margin-total);
  color: var(--color-letter);
}

footer {
  text-align: center;
  color: var(--color-letter);
  padding-top: var(--margin-total)
}

/* MODELOS ANIMAÇÃO */

.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* SKILLS */

#skillsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: var(--margin-half);
}

.skillDiv h4 {
  padding-left: 10px;
  color: var(--color-letter);
  font-weight: 500;
  border-left: 8px solid var(--color2);
}

.skillDivIcons {
  display: flex;
  gap: 5px;
  font-size: 55px;
}

#lngButton-eng {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
  font-size: 18px;
  width: 80%;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
}

#lngButton-eng span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.322);
}

#lngButton-eng:hover {
  border-color: var(--highlight);
}


/* profile pic */

.img-wrap {
  position: relative;
  padding: 20px;
  margin-top: 30px;
}
.img-wrap::after {
  content: '';
  border-radius: 999px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: conic-gradient(
    from var(--from),
    var(--color1),
    var(--color2) var(--distance),
    transparent var(--distance)
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--border)),
    #fff calc(100% - var(--border) + 1px)
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--border)),
    #fff calc(100% - var(--border) + 1px)
  );
}

#profilePic {
  border-radius: 999px;
  display: block;
  width: calc(100vw - 80px);
  max-width: 160px;
  height: auto;
}


.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

#mySkills {
  padding: 0% 5%;
  margin: auto;
}

#mySkills h2 {
  margin-bottom: var(--margin-half);
  color: var(--color1);
}

@media (max-width: 1000px) {
  .App {
    display: flex;
    flex-direction: column;
  }

  aside {
    position: unset;
    height: 50% !important;
    width: 100%;
    background-color: var(--black);
    padding-bottom: 20px;
  }

  #lngButton-eng {
    position: unset;
    bottom: 10px;
  }

  main {
    padding: 0px 10px;
    margin-left: 0%;
    overflow-x: hidden;
  }

  .companiesDiv,
  .projectSection {
    display: none;
  }

  #aside-content::before, #aside-content::after {
    width: 100%;
  }

  .skillDivIcons {
    flex-wrap: wrap;
  }

  footer div {
    display: none;
  }
}

#projects-title {
  width: 90%;
  margin: auto;
  margin-top: var(--margin-total);
  text-align: left;
  color: var(--color1) !important;
  margin-bottom: var(--margin-quarter);
  padding-bottom: var(--margin-quarter);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}